body{background-color: pink}
#img{
  width: 550px;
  height: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px 200px 20px 200px;
  padding: 0 0 0px 0;
  visibility: hidden;
  border: 10px #dcbee0 solid;
}
.pg{
  width: 360px;
  height: 360px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 90px;
  visibility: hidden;
  border: 10px #dcbee0 solid;
}
.produto{
    display: flex;
    border-top: none;
    padding-top: 0;
}

.prod{
   flex: 1; /
   margin: 5px; 
   text-align: center;
}

.im{
  width: 200px;
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 200px;
  border: 10px #dcbee0 solid;
}

.finalizando{
    display: flex;
    border-top: none;
    padding-top: 0;
}

.final{
   flex: 1; 
   margin: 5px; 
   text-align: center;
  padding-bottom: 50px;
  padding-top: 50px;
}

.h1{
  text-align-last: center;
  font-size: 140px; 
  font-family: cursive;
  font-weight: bold;
  color: blueviolet;
  text-shadow: 6px 1px 0px #FFF;
  visibility: hidden;
}
#p{
  text-align-last: center;
  text-shadow: 3px 3px 0px #000;
  color: #ace3fb;
  font-size: 60px;
  font-family: cursive;
  font-weight:bold;
  background-color: beige;
  width: 800px;
  margin: auto;
  border-radius: 800px;
  padding: 80px 25px 50px 20px;
  border: 8px #dcbee0 solid;
}
#lista{  
  text-align-last: left;
  text-shadow: none;
  color: mediumpurple;
  font-size: 70px;
  font-family: Comic Sans MS, Comic Sans, cursive;
  font-weight:bold;
  font-style: italic;
  background-color: beige;
  width: 800px;
  margin: auto;
  border-radius: 50px;
  padding: 0 0 0 30px;
  border: 8px #dcbee0 solid;
}
.continuando{
  text-align-last: center;
  text-shadow: 3px 3px 0px #000;
  color: beige;
  font-size: 65px;
  font-family: Comic Sans MS, Comic Sans, cursive;
  font-weight:bold;
border: 8px #dcbee0 solid;
  width: 800px;
  margin: auto;
}
.ine{
  text-align-last: center;
  text-shadow: 3px 3px 0px #000;
  color: red;
  font-size: 65px;
  font-family: Comic Sans MS, Comic Sans, cursive;
  font-weight:bold;
}
.cor{
  text-align-last: center;
  text-shadow: 3px 3px 0px #000;
  color: #08506b;
  font-size: 65px;
  font-family: Comic Sans MS, Comic Sans, cursive;
  font-weight:bold;
}
.obs{
  text-align-last: center;
  text-shadow: 3px 3px 0px #fff;
  color: #691654;
  font-size: 65px;
  font-family: Comic Sans MS, Comic Sans, cursive;
  font-weight:bold;
}
.button{
  display: block;
  text-decoration: none;
  margin-right: auto;
  margin-left: auto;
  background: mediumpurple;
  color: white;
  font-weight: bold;
  font-family: cursive;
  border: 7px #fff solid;
  width: 300x;
  height: 120px;
  border-radius: 100px;
  font-size: 60px;
  transition: tranform 200ms ease-in-out;
}
.button:hover{background: #691654;
  color: #fff;
  font-weight: bold;
  font-family: cursive;
  border: 7px #fff solid;
  width: 300x;
  height: 120px;
  border-radius: 100px;
  font-size: 60px;
  transform: scale(1.15);
  cursor: pointer;
}
.voltar{
  display: block;
  text-decoration: none;
  margin-right: auto;
  margin-left: auto;
  background: mediumpurple;
  color: white;
  font-weight: bold;
  font-family: cursive;
  border: 7px #fff solid;
  width: 300x;
  height: 120px;
  border-radius: 100px;
  font-size: 60px;
  transition: tranform 200ms ease-in-out;
}
.voltar:hover{background: #691654;
  color: #fff;
  font-weight: bold;
  font-family: cursive;
  border: 7px #fff solid;
  width: 300x;
  height: 120px;
  border-radius: 100px;
  font-size: 60px;
  transform: scale(1.15);
  cursor: pointer;
}
.continuando{font-family: Comic Sans MS, Comic Sans, cursive;
  font-weight: bold;
  color: black;
  text-shadow: 2px 2px 0px #fff;
  background-color: beige;
  width: 830px;
  margin: auto;
  border-radius: 50px;
  padding: 5px;
}
.fim{text-align-last: center;
 font-size: 100px; 
  font-family: cursive;
  font-weight: bold;
  color: mediumpurple;
  text-shadow: 6px 1px 0px #FFF;
}
.sou{
  text-align-last: center;
 font-size: 100px; 
  font-family: cursive;
  font-weight: bold;
  color: #ace3fb;
  text-shadow: 6px 1px 0px #000;
}
.nam{
  text-align-last: center;
 font-size: 100px; 
  font-family: cursive;
  font-weight: bold;
  color: crimson;
  text-shadow: 6px 1px 0px #000;
}
.fut{
  text-align-last: center;
 font-size: 100px; 
  font-family: cursive;
  font-weight: bold;
  color: #dcbee0;
  background-color: beige;
  padding: 0 40px 0 35px;
  border-radius: 100px;
  text-shadow: 6px 1px 0px #000;
}
.meses{text-align-last: center;
 font-size: 100px; 
  font-family: cursive;
  font-weight: bold;
  color: beige;
  background-color: #691654;
  padding: 0 40px 0 30px;
  border-radius: 10px;
  text-shadow: 6px 1px 0px #000;
}

a{
  text-decoration: none;
}
